---
import { getCollection, render } from "astro:content"
import Layout from "../../../layouts/Layout.astro"
import BlogPostGrid from "../../../components/BlogPostGrid.astro"
import { BLOG_PAGE_SIZE } from "../../../const"

export async function getStaticPaths() {
  const authors = await getCollection("authors")
  const posts = await getCollection("blog")

  return authors.map((author) => {
    const authorPosts = posts
      .filter((post) => post.data.author === author.data.name)
      .sort((a, b) => {
        return new Date(a.data.pubDate) > new Date(b.data.pubDate) ? -1 : 1
      })

    return {
      params: { id: author.id },
      props: {
        author,
        posts: authorPosts.slice(0, BLOG_PAGE_SIZE),
        totalPosts: authorPosts.length,
        nextUrl:
          authorPosts.length > BLOG_PAGE_SIZE
            ? `/blog/author/${author.id}/2/`
            : undefined,
      },
    }
  })
}

const { author, posts, totalPosts, nextUrl } = Astro.props

const title = `Posts by ${author.data.name}`
const { Content } = await render(author)
---

<Layout
  title={title}
  description={`List of blog posts by ${author.data.name}.`}
>
  <main class="max-w-4xl mx-auto mb-24">
    <div class="lg:flex lg:space-x-12 py-24 px-6 lg:px-0">
      <div>
        <p class="text-sm font-mono mb-4">
          <a href="/blog/author" class="text-indigo-600 dark:text-cyan-300 hover:underline">
            &larr; All authors
          </a>
        </p>
        <h1 class="font-bold text-4xl dark:text-white">{author.data.name}</h1>
      </div>
      <div class="prose mt-6 lg:mt-0 dark:prose-invert">
        <Content />
      </div>
    </div>

    <h2 class="text-base font-mono text-navy-300 px-6 lg:px-0 dark:text-navy-100">
      {author.data.firstName || author.data.name}'s {
        totalPosts == 1 ? `Post` : `Posts`
      }
    </h2>

    <BlogPostGrid posts={posts} nextUrl={nextUrl} />
  </main>
</Layout>
