---
import { getAuthorData, getSlug } from "../../../lib/api"
import { marked } from "marked"
import Layout from "../../../layouts/Layout.astro"
import BlogPostCard from "../../../components/BlogPostCard.astro"

/**
 * Tell Astro to build routes using our author slugs.
 * https://docs.astro.build/en/reference/api-reference/#getstaticpaths
 */
export async function getStaticPaths() {
  const authors = getAuthorData()
  const posts = await Astro.glob("./../*.md")

  return authors.map((author) => {
    const authorPosts = posts
      .filter((post) => post.frontmatter.author === author.name)
      .sort((a, b) => {
        return new Date(a.frontmatter.pubDate) > new Date(b.frontmatter.pubDate)
          ? -1
          : 1
      })

    return {
      params: { slug: getSlug(author.name) },
      props: {
        author: author,
        posts: authorPosts,
      },
    }
  })
}

const { author, posts } = Astro.props

const title = `Posts by ${author.name}`
const content = marked.parse(author.description)
---

<Layout title={title}>
  <main class="max-w-4xl mx-auto mb-24">
    <div class="flex space-x-12 py-24">
      <h1 class="font-bold text-4xl">{author.name}</h1>
      <div class="prose" set:html={content} />
    </div>

    <h2 class="text-base font-mono text-navy-300">
      {author.firstName || author.name}’s {posts.length == 1 ? `Post` : `Posts`}
    </h2>

    <div
      class="mt-12 mb-24 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none"
    >
      {posts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </main>
</Layout>
