---
import { getSlug } from "../../../lib/api"
import { getCollection } from "astro:content"
import Layout from "../../../layouts/Layout.astro"
import BlogPostCard from "../../../components/BlogPostCard.astro"

/**
 * Tell Astro to build routes using our category slugs.
 * https://docs.astro.build/en/reference/api-reference/#getstaticpaths
 */
export async function getStaticPaths() {
  const posts = await getCollection("blog")
  const categories = [
    ...new Set(posts.map((post) => post.data.categories).flat()),
  ]

  return categories.map((category) => {
    return {
      params: {
        slug: getSlug(category),
      },
      props: {
        name: category,
        posts: posts
          .filter((post) => post.data.categories.includes(category))
          .sort((a, b) => {
            return new Date(a.data.pubDate) > new Date(b.data.pubDate) ? -1 : 1
          }),
      },
    }
  })
}

const { name, posts } = Astro.props

const title = `Posts in “${name}”`
---

<Layout
  title={title}
  description={`List of blog posts in the “${name}” category.`}
>
  <main class="max-w-4xl mx-auto mb-24">
    <div class="py-24 px-6 lg:px-0">
      <h1 class="font-bold text-4xl dark:text-white">Posts in “{name}”</h1>
    </div>

    <div
      class="mt-12 mb-24 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none"
    >
      {posts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </main>
</Layout>
