---
import {
  getBlogPostCategory,
  getBlogPostsByCategory,
  getBlogPostCategories,
  formatDate,
  getReadTime,
} from "../../../lib/api"
import Layout from "../../../layouts/Layout.astro"
import BlogPostCard from "../../../components/BlogPostCard.astro"

/**
 * Tell Astro to build routes using our category slugs.
 * https://docs.astro.build/en/reference/api-reference/#getstaticpaths
 */
export async function getStaticPaths() {
  const categories = await getBlogPostCategories()
  return categories.nodes.map((node) => {
    return {
      params: { slug: node.slug },
    }
  })
}

const { slug } = Astro.params

const category = await getBlogPostCategory(slug)
const postData = await getBlogPostsByCategory(slug)

const posts = postData.nodes.map((node) => {
  return {
    title: node.title,
    href: `/blog/${node.slug}`,
    category: {
      name: "",
      href: "#",
    },
    date: formatDate(node.date),
    imageUrl: node.featuredImage ? node.featuredImage.node.sourceUrl : null,
    readingTime: getReadTime(node.content),
    author: {
      name: node.author.node.name,
      href: "#",
      imageUrl: node.author.node.avatar.url,
    },
  }
})

const title = `Posts in “${category.name}”`
---

<Layout title={title}>
  <main class="max-w-4xl mx-auto mb-24">
    <div class="flex space-x-12 py-24">
      <h1 class="font-bold text-4xl">Posts in “{category.name}”</h1>
    </div>

    <div
      class="mt-12 mb-24 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none"
    >
      {posts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </main>
</Layout>
