---
import "../styles/tabs.css"
import { getLatestReleaseVersion } from "../lib/api"
import Cloud from "@components/quickstart/Cloud.astro"
import Heading from "@components/Heading.astro"
import Layout from "@layouts/Layout.astro"
import Linux from "@components/quickstart/Linux.astro"
import Mac from "@components/quickstart/Mac.astro"
import PlatformPicker from "@components/PlatformPicker.astro"
import Windows from "@components/quickstart/Windows.astro"

const title = "Get Started"
const latestRelease = await getLatestReleaseVersion()
---

<Layout
  title={title}
  description={`Start here if you want to give DDEV a try!`}
>
  <main class="max-w-4xl mx-auto mb-24">
    <Heading title={title} subtitle={`Install and start using DDEV.`} />
    <div class="prose mb-16">
      <PlatformPicker heading={`Choose your platform:`} />
    </div>

    {/* Mac instructions */}
    <div data-platform="mac" class="hidden">
      <Mac latestVersion={latestRelease} />
    </div>

    {/* Windows instructions */}
    <div data-platform="windows" class="hidden">
      <Windows latestVersion={latestRelease} />
    </div>

    {/* Linux instructions */}
    <div data-platform="linux" class="hidden">
      <Linux latestVersion={latestRelease} />
    </div>

    {/* Cloud instructions */}
    <div data-platform="cloud" class="hidden">
      <Cloud latestVersion={latestRelease} />
    </div>
  </main>
</Layout>
