---
import Layout from "../layouts/Layout.astro"
import Heading from "../components/Heading.astro"
import OsPicker from "../components/OsPicker.astro"
import Terminal from "../components/Terminal.astro"
import { Tabs } from "astro-tabs"
import { Code } from "astro/components"
import { getLatestReleaseVersion } from "../lib/api"

import "../styles/tabs.css"

const title = "Get Started with DDEV"
const codeTheme = "nord"
const latestRelease = await getLatestReleaseVersion()
---

<Layout title={title}>
  <main class="max-w-4xl mx-auto mb-24">
    <Heading title={title} subtitle={`Install and start using DDEV.`} />
    <div class="prose mb-16">
      <OsPicker heading={`Choose your operating system:`} />
    </div>

    {/* Mac instructions */}
    <div data-os="mac" class="hidden">
      <div class="prose">
        <p class="text-gray-600 mb-16">
          We’ll use Docker Desktop since it’s the most straightforward of <a
            href="https://ddev.readthedocs.io/en/latest/users/install/docker-installation/#macos"
            >several options</a
          >.
        </p>

        <h2 class="text-3xl mt-24">
          <small class="block font-mono text-xs text-gray-500">1/3</small
          >Install Docker
        </h2>
      </div>

      <Tabs class="-mx-4 mb-6" style="max-width: 41.5rem;">
        <Fragment slot="tab-1">Homebrew</Fragment>
        <Fragment slot="tab-2">Download</Fragment>
        <Fragment slot="panel-1">
          <div class="prose py-5">
            <p>
              With <a href="https://brew.sh" target="_blank">Homebrew</a> installed,
              you can install Docker Desktop with one command:
            </p>
            <Terminal>
              <Code
                code={`→ brew install homebrew/cask/docker`}
                lang="bash"
                theme={codeTheme}
              />
            </Terminal>
          </div>
        </Fragment>
        <Fragment slot="panel-2">
          <div class="prose py-5">
            <p>
              Download and run the <a
                href="https://www.docker.com/products/docker-desktop"
                target="_blank">Docker Desktop installer</a
              >.
            </p>
          </div>
        </Fragment>
      </Tabs>

      <div class="prose">
        <p>Confirm that you’ve now got a Docker provider:</p>
        <Terminal
          ><Code
            code={`→ docker -v\nDocker version 20.10.21, build baeda1f`}
            lang="bash"
            theme={codeTheme}
          />
        </Terminal>

        <h2 class="text-3xl mt-24">
          <small class="block font-mono text-xs text-gray-500">2/3</small
          >Install DDEV
        </h2>
      </div>

      <Tabs class="-mx-4 mb-6" style="max-width: 41.5rem;">
        <Fragment slot="tab-1">Homebrew</Fragment>
        <Fragment slot="tab-2">Install Script</Fragment>
        <Fragment slot="panel-1">
          <div class="prose py-5">
            <Terminal>
              <Code
                code={`→ brew install drud/ddev/ddev`}
                lang="bash"
                theme={codeTheme}
              />
            </Terminal>
          </div>
        </Fragment>
        <Fragment slot="panel-2">
          <div class="prose py-5">
            <Terminal>
              <Code
                code={`→ curl -fsSL https://raw.githubusercontent.com/drud/ddev/master/scripts/install_ddev.sh | bash`}
                lang="bash"
                theme={codeTheme}
              />
            </Terminal>
          </div>
        </Fragment>
      </Tabs>

      <div class="prose">
        <p>Confirm that you’ve now got DDEV installed: 🎉</p>
        <Terminal>
          <Code
            code={`→ ddev -v\nddev version ${latestRelease}`}
            lang="bash"
            theme={codeTheme}
          />
        </Terminal>

        <h2 class="text-3xl mt-24">
          <small class="block font-mono text-xs text-gray-500">3/3</small>Create
          a Project
        </h2>

        <p>Navigate to a project you’d like to spin up with DDEV:</p>
        <Terminal>
          <Code code={`→ cd ~/dev/my-project`} lang="bash" theme={codeTheme} />
        </Terminal>

        <p>
          Initialize the project by running the <a
            href="https://ddev.readthedocs.io/en/latest/users/usage/commands/#config"
            target="_blank"
            ><code>ddev config</code>
          </a> command:
        </p>
        <Terminal>
          <Code code={`→ ddev config`} lang="bash" theme={codeTheme} />
        </Terminal>

        <p>
          Start the project for the first time. You’ll use the same command to
          start it later, too!
        </p>
        <Terminal>
          <Code code={`→ ddev start`} lang="bash" theme={codeTheme} />
        </Terminal>
      </div>

      <div class="prose">
        <h2 class="text-3xl mt-24">Explore & Enjoy!</h2>

        <p>
          Take a peek at your project’s new <code>.ddev/</code> directory. You can
          add this to your repo to share your DDEV config, edit <code
            >.ddev/ddev.yaml</code
          > to change <a
            href="https://ddev.readthedocs.io/en/latest/users/configuration/config/"
            target="_blank">project options</a
          >, or even go about your business and pretend this folder doesn’t
          exist.
        </p>

        <p>
          Run the <a
            href="https://ddev.readthedocs.io/en/latest/users/usage/commands/#help"
            target="_blank"
            >help command
          </a> (or plain <code>ddev</code>) to see the actions you can take with
          the CLI:
        </p>

        <Terminal>
          <Code code={`→ ddev -h`} lang="bash" theme={codeTheme} />
        </Terminal>

        <p>
          Use the <a
            href="https://ddev.readthedocs.io/en/latest/users/usage/commands/#describe"
            target="_blank"
            >describe command
          </a> to see a project’s parts and get database connection details:
        </p>

        <Terminal>
          <Code code={`→ ddev describe`} lang="bash" theme={codeTheme} />
        </Terminal>

        <p>
          If you’re done working on a project and want to shut it down without
          removing anything, use the <a
            href="https://ddev.readthedocs.io/en/latest/users/usage/commands/#stop"
            target="_blank"
            >stop command
          </a>:
        </p>

        <Terminal>
          <Code code={`→ ddev stop`} lang="bash" theme={codeTheme} />
        </Terminal>

        <p>
          If you were just kicking the tires and you want to permanently delete
          the project and its resources without touching your code, run the <a
            href="https://ddev.readthedocs.io/en/latest/users/usage/commands/#delete"
            target="_blank"
            >delete command
          </a>:
        </p>

        <Terminal>
          <Code code={`→ ddev delete`} lang="bash" theme={codeTheme} />
        </Terminal>

        <p>
          DDEV will remove everything it created for the project and have no
          memory of its existence.
        </p>

        <p>
          To uninstall DDEV, first clean up its Docker bits and delete its files
          from your system:
        </p>

        <Terminal>
          <Code
            code={`→ ddev clean --all\n→ ddev hostname --remove-inactive\n→ rm -r ~/.ddev\n→ rm -r ~/.ddev_mutagen_data_directory`}
            lang="bash"
            theme={codeTheme}
          />
        </Terminal>

        <p>
          Then remove the <code>ddev</code> binary however you installed it:
        </p>

        <Tabs class="-mx-4 -mt-4" style="max-width: 41.5rem;">
          <Fragment slot="tab-1">Homebrew</Fragment>
          <Fragment slot="tab-2">Install Script</Fragment>
          <Fragment slot="panel-1">
            <div class="prose py-5">
              <Terminal>
                <Code
                  code={`→ brew uninstall ddev`}
                  lang="bash"
                  theme={codeTheme}
                />
              </Terminal>
            </div>
          </Fragment>
          <Fragment slot="panel-2">
            <div class="prose py-5">
              <Terminal>
                <Code
                  code={`→ rm /usr/local/bin/ddev`}
                  lang="bash"
                  theme={codeTheme}
                />
              </Terminal>
            </div>
          </Fragment>
        </Tabs>

        <aside class="bg-gray-200 p-8 rounded-lg mt-36">
          <h2 class="mt-0">Join the DDEV Community</h2>
          <p class="mb-0">
            DDEV is an open source project with a growing community, and there
            are lots of ways to <a href="/support-ddev">get involved</a>!
          </p>
        </aside>
      </div>
    </div>

    {/* Windows instructions */}
    <div data-os="windows" class="hidden">
      <div class="prose">
        <p class="text-gray-600 mb-16">
          We’ll use WSL2 with Docker inside since it’s the fastest and most
          straightforward of <a
            href="https://ddev.readthedocs.io/en/latest/users/install/docker-installation/#windows"
            >several options</a
          >.
        </p>

        <h2 class="text-3xl mt-24">
          <small class="block font-mono text-xs text-gray-500">1/3</small
          >Install WSL2 with Ubuntu
        </h2>

        <p>Run the following in a PowerShell v5 terminal:</p>

        <Terminal type="powershell">
          <Code code={`> wsl --install`} lang="bash" theme={codeTheme} />
        </Terminal>

        <p>You’ll probably need to reboot.</p>

        <p>
          Visit the Microsoft Store and install the updated “Windows Subsystem
          for Linux” and click “Open”. It will likely prompt you for a username
          and password for the Ubuntu WSL2 instance it creates.
        </p>

        <p>Verify that you now have an Ubuntu distro set as default:</p>

        <Terminal type="powershell">
          <Code code={`> wsl.exe -l -v`} lang="bash" theme={codeTheme} />
        </Terminal>

        <p>
          Bonus: to keep WSL2 up to date, visit <i>Windows Update Settings</i> →
          <i>Advanced Options</i>, and enable <i
            >Receive updates for other Microsoft products</i
          >.
        </p>
      </div>

      <div class="prose">
        <h2 class="text-3xl mt-24">
          <small class="block font-mono text-xs text-gray-500">2/3</small>Run
          the Install Script
        </h2>

        <p>Run the following in an administrative PowerShell:</p>

        <Terminal type="powershell">
          <Code
            code={`> Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072;\niex ((New-Object System.Net.WebClient).DownloadString('https://raw.githubusercontent.com/drud/ddev/master/scripts/install_ddev_wsl2_docker_inside.ps1'))`}
            lang="bash"
            theme={codeTheme}
          />
        </Terminal>

        <p>
          In the “Ubuntu” terminal app or Windows Terminal, confirm that DDEV is
          installed: 🎉
        </p>
        <Terminal type="powershell-ubuntu">
          <Code
            code={`> ddev -v\nddev version ${latestRelease}`}
            lang="bash"
            theme={codeTheme}
          />
        </Terminal>
      </div>

      <div class="prose">
        <h2 class="text-3xl mt-24">
          <small class="block font-mono text-xs text-gray-500">3/3</small>Create
          a Project
        </h2>

        <p>Navigate to a project you’d like to spin up with DDEV:</p>
        <Terminal type="powershell">
          <Code code={`> cd ~/dev/my-project`} lang="bash" theme={codeTheme} />
        </Terminal>
      </div>

      <div class="prose">
        <h2 class="text-3xl mt-24">Explore & Enjoy!</h2>

        <aside class="bg-gray-200 p-8 rounded-lg mt-36">
          <h2 class="mt-0">Join the DDEV Community</h2>
          <p class="mb-0">
            DDEV is an open source project with a growing community, and there
            are lots of ways to <a href="/support-ddev">get involved</a>!
          </p>
        </aside>
      </div>
    </div>

    {/* Linux instructions */}
    <div data-os="linux" class="hidden">
      <div class="prose">
        <h2 class="text-3xl mt-24">
          <small class="block font-mono text-xs text-gray-500">1/3</small
          >Install Docker
        </h2>
      </div>

      <div class="prose">
        <h2 class="text-3xl mt-24">
          <small class="block font-mono text-xs text-gray-500">2/3</small
          >Install DDEV
        </h2>

        <Tabs class="-mx-4 mb-6" style="max-width: 41.5rem;">
          <Fragment slot="tab-1">Install Script</Fragment>
          <Fragment slot="tab-2">Debian/Ubuntu</Fragment>
          <Fragment slot="tab-3">Fedora, Red Hat, etc.</Fragment>
          <Fragment slot="tab-4">Arch Linux</Fragment>
          <Fragment slot="panel-1">
            <div class="prose py-5">
              <p>Download and execute the standalone install script:</p>

              <Terminal type="ubuntu">
                <Code
                  code={`$ curl -fsSL https://raw.githubusercontent.com/drud/ddev/master/scripts/install_ddev.sh | bash`}
                  lang="bash"
                  theme={codeTheme}
                />
              </Terminal>
            </div>
          </Fragment>
          <Fragment slot="panel-2">
            <div class="prose py-5">
              <p>
                Trust DDEV’s packages, then install it with <code>apt</code> or <code
                  >yum</code
                >:
              </p>
              <Terminal type="ubuntu">
                <Code
                  code={`$ curl -fsSL https://apt.fury.io/drud/gpg.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/ddev.gpg > /dev/null\necho "deb [signed-by=/etc/apt/trusted.gpg.d/ddev.gpg] https://apt.fury.io/drud/ * *" | sudo tee /etc/apt/sources.list.d/ddev.list\nsudo apt update && sudo apt install -y ddev`}
                  lang="bash"
                  theme={codeTheme}
                />
              </Terminal>
            </div>
          </Fragment>
          <Fragment slot="panel-3">
            <div class="prose py-5">
              <p>
                Add DDEV’s package repository, then install with <code>dnf</code
                >:
              </p>

              <Terminal type="ubuntu">
                <Code
                  code={`$ echo '[ddev]\nname=DDEV Repo\nbaseurl=https://yum.fury.io/drud/\nenabled=1\ngpgcheck=0' | sudo tee -a /etc/yum.repos.d/ddev.repo\n$ sudo dnf install --refresh ddev
`}
                  lang="bash"
                  theme={codeTheme}
                />
              </Terminal>
            </div>
          </Fragment>
          <Fragment slot="panel-4">
            <div class="prose py-5">
              <p>
                Use <code>yay</code> or your favorite AUR tool to install the <a
                  href="https://aur.archlinux.org/packages/ddev-bin/"
                  target="_blank">ddev-bin</a
                > package, then run <code>mkcert</code>.
              </p>
              <Terminal type="ubuntu">
                <Code
                  code={`$ yay -S ddev\n$ mkcert -install`}
                  lang="bash"
                  theme={codeTheme}
                />
              </Terminal>
            </div>
          </Fragment>
        </Tabs>
      </div>

      <div class="prose">
        <h2 class="text-3xl mt-24">
          <small class="block font-mono text-xs text-gray-500">3/3</small>Create
          a Project
        </h2>
      </div>

      <div class="prose">
        <h2 class="text-3xl mt-24">Explore & Enjoy!</h2>

        <aside class="bg-gray-200 p-8 rounded-lg mt-36">
          <h2 class="mt-0">Join the DDEV Community</h2>
          <p class="mb-0">
            DDEV is an open source project with a growing community, and there
            are lots of ways to <a href="/support-ddev">get involved</a>!
          </p>
        </aside>
      </div>
    </div>
  </main>
</Layout>
