---
import { NEXT } from "linkedom/types/shared/symbols"
import { getAllBlogPosts } from "../lib/api"

export interface Props {
  slug: object
}

const { slug } = Astro.props

let next, prev

const posts = await Astro.glob("./../pages/blog/*.md")
const orderedPosts = posts.sort((a, b) => {
  return new Date(a.frontmatter.pubDate) > new Date(b.frontmatter.pubDate)
    ? -1
    : 1
})

orderedPosts.forEach((post, index) => {
  if (post.slug === slug) {
    if (posts[index - 1]) {
      prev = posts[index - 1]
    }

    if (posts[index + 1]) {
      next = posts[index + 1]
    }
  }
})
---

<nav class="max-w-4xl mx-auto md:flex md:gap-2 md:columns-3 mt-32 py-4">
  {
    prev && (
      <a
        href={prev.url}
        rel="prefetch"
        class="flex border items-center rounded-md w-full my-1 md:my-0 content-center justify-center md:justify-start p-4 hover:border-blue-300 hover:shadow-sm"
        title={`Previous: ${prev.frontmatter.title}`}
      >
        <div>
          <span class="font-mono text-sm block text-navy-300 tracking-wider">
            Previous Post
          </span>
          <span class="py-3 md:w-full font-bold">{prev.frontmatter.title}</span>
        </div>
      </a>
    )
  }
  {
    next && (
      <a
        href={next.url}
        rel="prefetch"
        class="flex border items-center rounded-md w-full my-1 md:my-0 content-center justify-center md:justify-end text-right p-4 hover:border-blue-300 hover:shadow-sm"
        title={`Next: ${next.frontmatter.title}`}
      >
        <div>
          <span class="font-mono text-sm block text-navy-300 tracking-wider">
            Next Post
          </span>
          <span class="py-3 md:w-full font-bold">{next.frontmatter.title}</span>
        </div>
      </a>
    )
  }
</nav>
