---
export interface Props {
  activeSlug: string
}

const { activeSlug } = Astro.props
import { getCollection } from "astro:content"

let next, prev

const posts = await getCollection("blog")
const orderedPosts = posts.sort((a, b) => {
  return new Date(a.data.pubDate) > new Date(b.data.pubDate) ? -1 : 1
})

orderedPosts.forEach((post, index) => {
  if (post.slug === activeSlug) {
    if (posts[index - 1]) {
      prev = posts[index - 1]
    }

    if (posts[index + 1]) {
      next = posts[index + 1]
    }
  }
})
---

<nav
  class="max-w-4xl mx-auto px-6 lg:px-0 md:flex md:gap-2 md:columns-3 mt-32 py-4"
>
  {
    prev && (
      <a
        href={`/blog/${prev.slug}`}
        rel="prefetch"
        class="flex border items-center rounded-md w-full my-1 md:my-0 content-center justify-start md:justify-start p-4 hover:border-blue-300 hover:shadow-sm"
        title={`Previous: ${prev.data.title}`}
      >
        <div>
          <span class="font-mono text-sm block text-navy-300 tracking-wider dark:text-slate-500">
            Previous Post
          </span>
          <span class="py-3 md:w-full font-bold dark:text-slate-400">{prev.data.title}</span>
        </div>
      </a>
    )
  }
  {
    next && (
      <a
        href={`/blog/${next.slug}`}
        rel="prefetch"
        class="flex border items-center rounded-md w-full my-1 md:my-0 content-center justify-start md:justify-end md:text-right p-4 hover:border-blue-300 hover:shadow-sm dark:border-slate-700"
        title={`Next: ${next.data.title}`}
      >
        <div>
          <span class="font-mono text-sm block text-navy-300 tracking-wider dark:text-slate-500">
            Next Post
          </span>
          <span class="py-3 md:w-full font-bold dark:text-slate-400">{next.data.title}</span>
        </div>
      </a>
    )
  }
</nav>
