---
/**
 * A single card used to represent a blog post. Should probably be placed in a flex grid.
 */
export interface Props {
  post: object
}

import { Picture } from "@astrojs/image/components"
import {
  getAuthorUrl,
  getAuthorImage,
  formatDate,
  getCategoryUrl,
} from "../lib/api"

const { post } = Astro.props

const authorUrl = getAuthorUrl(post.frontmatter.author)
const authorImage = getAuthorImage(post.frontmatter.author)
const hasFeatureImage =
  Object.hasOwn(post.frontmatter, "featureImage") &&
  Object.hasOwn(post.frontmatter.featureImage, "src")

const featureImageUrl = hasFeatureImage
  ? post.frontmatter.featureImage.src
  : `/img/generic-thumbnail.png`

const featureImageAlt = hasFeatureImage ? post.frontmatter.featureImage.alt : ``

const firstCategory = post.frontmatter.categories.length
  ? post.frontmatter.categories[0]
  : null
---

<div class="flex flex-col rounded-lg overflow-hidden">
  <div class="flex-shrink-0">
    {
      featureImageUrl.includes(".svg") ? (
        <img src={featureImageUrl} alt={featureImageAlt} />
      ) : (
        <Picture
          class="h-48 w-full object-cover"
          src={featureImageUrl}
          alt={featureImageAlt}
          widths={[300, 600]}
          aspectRatio="3:2"
        />
      )
    }
  </div>
  <div class="flex-1 bg-gray-100 p-6 flex flex-col justify-between">
    <div class="flex-1">
      <p class="text-sm font-mono text-indigo-600">
        <a href={getCategoryUrl(firstCategory)} class="hover:underline">
          {firstCategory}
        </a>
      </p>
      <a href={post.url} class="block mt-2">
        <p class="text-xl font-semibold text-gray-900">
          {post.frontmatter.title}
        </p>
      </a>
    </div>
    <div class="mt-6 flex items-center">
      <div class="flex-shrink-0">
        <a href={authorUrl}>
          <span class="sr-only">{post.frontmatter.author}</span>
          <img class="h-10 w-10 rounded-full" src={authorImage} alt="" />
        </a>
      </div>
      <div class="ml-3">
        <p class="text-sm font-medium text-gray-900">
          <a href={authorUrl} class="hover:underline">
            {post.frontmatter.author}
          </a>
        </p>
        <div class="flex space-x-1 text-sm text-gray-500">
          <time datetime={post.frontmatter.pubDate}
            >{formatDate(post.frontmatter.pubDate)}</time
          >
          <span aria-hidden="true"> &middot;</span>
          <span> {post.frontmatter.minutesRead}</span>
        </div>
      </div>
    </div>
  </div>
</div>
