---
/**
 * Global site footer.
 */
import {
  GITHUB_ISSUES_URL,
  DOCUMENTATION_URL,
  DISCORD_URL,
  EMAIL_URL,
  COPYRIGHT_HOLDER,
  MASTODON_URL,
  GITHUB_URL,
  STORE_URL, 
  BLUESKY_URL,
} from "../const"

import Icon from "./Icon.astro"

const navigation = {
  support: [
    { name: "Documentation", href: DOCUMENTATION_URL },
    { name: "Issues", href: GITHUB_ISSUES_URL },
    { name: "Discord", href: DISCORD_URL },
    { name: "Email", href: EMAIL_URL }
  ],
  product: [
    { name: "About", href: "/about" },
    { name: "Swag Shop", href: STORE_URL, target: "_blank"},
    { name: "Contributing", href: "/support-ddev" },
    { name: "Contributor Live Training", href: "/blog/contributor-training"},
    { name: "Blog", href: "/blog" },
    { name: "Foundation", href: "/foundation" },
    { name: "Newsletter", href: "/newsletter"},
  ],
  social: [
    {
      name: "Discord",
      href: DISCORD_URL,
    },
    {
      name: "Bluesky",
      href: BLUESKY_URL,
      me:true
    },
    {
      name: "Mastodon",
      href: MASTODON_URL,
      me: true
    },
    {
      name: "GitHub",
      href: GITHUB_URL,
      me: true
    },
  ],
}
---

<footer class="dark:bg-transparent">
  <div class="max-w-4xl mx-auto py-12 px-6 lg:px-0 lg:py-16">
    <div class="pb-8 xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-auto gap-8 xl:col-span-4">
        <div class="md:grid md:grid-cols-4 md:gap-8">
          <div class="mt-12 md:mt-0">
            <h2 class="text-sm font-mono text-navy-300 tracking-wider">
              Support
            </h2>
            <ul class="mt-4 space-y-4">
              {
                navigation.support.map((item) => (
                  <li>
                    <a
                      href={item.href}
                      class="text-base external-link dark:text-white"
                      target="_blank"
                    >
                      {item.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h2 class="text-sm font-mono text-navy-300 tracking-wider">
              Product
            </h2>
            <ul class="mt-4 space-y-4 dark:text-white">
              {
                navigation.product.map((item) => (
                  item.target == "undefined" ?
                  <li>
                    <a href={item.href} class="text-base" rel="prefetch">
                      {item.name}
                    </a>
                  </li>
                  :
                  <li>
                    <a href={item.href} class="text-base" rel="prefetch" target={item.target}>
                      {item.name}
                    </a>
                  </li>

                ))
              }
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h2 class="text-sm font-mono text-navy-300 tracking-wider">
              Social
            </h2>
            <ul class="mt-4 space-y-4 dark:text-white">
              {
                navigation.social.map((item) => (
                    <li>
                      <a href={item.href} class="text-base" rel="prefetch" target="_blank">
                        {item.name}
                      </a>
                    </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mt-8 border-t border-gray-300 pt-8 md:flex md:items-center md:justify-between dark:border-slate-700"
    >
      <div
        class="flex space-x-6 md:order-2 items-center justify-center content-center"
      >
        {
          navigation.social.map((item) => (
            <a
              href={item.href}
              target="_blank"
              class={`text-gray-500 hover:text-black ${
                ["Discord", "Bluesky"].includes(item.name) ? `w-5` : `w-6`
              }`}
              rel={item.hasOwnProperty('me') && item.me ? 'me' : null}
            >
              <span class="sr-only">{item.name}</span>
              <Icon name={item.name} aria-hidden="true" />
            </a>
          ))
        }
      </div>
      <p
        class="mt-8 text-sm text-gray-600 font-mono text-center md:text-left md:mt-0 md:order-1 dark:text-white"
      >
        &copy; {new Date().getFullYear()}
        {" "}
        {COPYRIGHT_HOLDER}
      </p>
    </div>
  </div>
</footer>
