---
/**
 * Somewhat flexible component used to display the primary heading (`h1`) on most pages.
 */
export interface Props {
  // Required primary text
  title: string
  // Smaller text to be displayed beneath the primary heading
  subtitle?: string
  // A preformatted date string (used for blog posts)
  date?: string
  // Human-formatted name for the page author (used for blog posts)
  author?: string
  // URL for the author’s index page (used for blog posts)
  authorUrl?: string
  // URL to the author’s avatar image (used for blog posts)
  authorAvatar?: string
  // Human-formatted read time (used for blog posts)
  readTime?: string
  // Human-formatted read time (used for blog posts)
  editUrl?: string
}

const { title, subtitle, date, author, authorUrl, authorAvatar, readTime, editUrl } =
  Astro.props
---

<div class="my-24 px-6 lg:px-0">
  <h1 class="font-bold text-4xl dark:text-white">{title}</h1>
  {subtitle && <p class="text-2xl text-gray-600 my-4 dark:text-slate-400">{subtitle}</p>}

  <div class="md:flex md:items-center md:content-center my-6 font-mono">
    {
      author && (
        <div class="flex items-center content-center mr-2">
          {authorAvatar && (
            <div class="rounded-full overflow-hidden mr-2">
              <img
                src={authorAvatar}
                alt={`${author} avatar`}
                class="block w-12 h-12"
              />
            </div>
          )}
          {author && (
            <div class={authorAvatar ? `ml-1 dark:text-white` : ``}>
              <a class="dark:text-white hover:underline" href={authorUrl}>{author}</a>
            </div>
          )}
        </div>
      )
    }
    <p class="mt-4 md:mt-0 dark:text-white">
      {
        date && (
          <span>
            {" "}
            <span aria-hidden="true" class="hidden md:inline">
              {" "}
              ·
            </span>
            {date}
          </span>
        )
      }{
        readTime && (
          <span>
            {" "}
            <span aria-hidden="true"> · </span> {readTime}
          </span>
        )
      }
    </p>
    {
      editUrl && (
        <a class="flex dark:text-white pl-1 sm:pl-4 items-center sm:ml-auto font-serif hover:underline" href={editUrl} target="_blank">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="pen"
          class="svg-inline--fa fa-pen fa-w-16"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          height="0.8em"
          width="0.8em"
        >
          <path
            fill="currentColor"
            d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"
          ></path>
        </svg>
        <span class="pl-2">Edit this page</span>
      </a>
      )
    }
  </div>
</div>
