---
import { getSlug } from "../../../../lib/api"
import { getCollection } from "astro:content"
import Layout from "../../../../layouts/Layout.astro"
import BlogPostCard from "../../../../components/BlogPostCard.astro"
import Paging from "../../../../components/Paging.astro"
import { BLOG_PAGE_SIZE } from "../../../../const"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  const categories: string[] = [
    ...new Set<string>(posts.flatMap((post) => post.data.categories)),
  ]

  const paths = []

  for (const category of categories) {
    const categoryPosts = posts
      .filter((post) => post.data.categories.includes(category))
      .sort((a, b) => {
        return new Date(a.data.pubDate) > new Date(b.data.pubDate) ? -1 : 1
      })

    const totalPages = Math.ceil(categoryPosts.length / BLOG_PAGE_SIZE)

    for (let page = 2; page <= totalPages; page++) {
      paths.push({
        params: { slug: getSlug(category), page: String(page) },
        props: {
          name: category,
          posts: categoryPosts.slice((page - 1) * BLOG_PAGE_SIZE, page * BLOG_PAGE_SIZE),
          currentPage: page,
          totalPages,
        },
      })
    }
  }

  return paths
}

const { name, posts, currentPage, totalPages } = Astro.props

const title = `Posts in "${name}"`
const slug = getSlug(name)
const prevURL =
  currentPage === 2
    ? `/blog/category/${slug}`
    : `/blog/category/${slug}/${currentPage - 1}`
const nextURL =
  currentPage < totalPages
    ? `/blog/category/${slug}/${currentPage + 1}`
    : undefined
---

<Layout
  title={`${title}, Page ${currentPage}`}
  description={`List of blog posts in the "${name}" category.`}
  noindex={true}
>
  <main class="max-w-4xl mx-auto mb-24">
    <div class="py-24 px-6 lg:px-0">
      <p class="text-sm font-mono mb-4">
        <a href="/blog/category" class="text-indigo-600 dark:text-cyan-300 hover:underline">
          &larr; All categories
        </a>
      </p>
      <h1 class="font-bold text-4xl dark:text-white">Posts in "{name}"</h1>
    </div>

    <div
      class="mt-12 mb-24 px-6 sm:px-4 lg:px-0 grid gap-5 sm:grid-cols-2 lg:grid-cols-3"
    >
      {posts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </main>
  <Paging nextURL={nextURL} prevURL={prevURL} />
</Layout>
